.wrapper {
	min-height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 80%;
	margin: 0 auto;

	input[type=text] {
		padding: 6px 10px;
		font-size: 14px;
		outline: none;
	}

	textarea {
		padding: 6px 10px;
		font-size: 14px;
		width: 300px;
		height: 150px;
		outline: none;
	}

	input[type=submit] {
		background: #4b83c1;
		color: #fff;
		border: 0;
		width: 120px;
		height: 36px;
		font-size: 14px;
		text-transform: capitalize;
		cursor: pointer;
	}
}

.field_wrapper label {
	display: block;
}